header {
  background-color: #fc3a52;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  z-index: 2;
}

#title {
  padding-left: 100px;
  color: #f9b248;
}

nav {
  width: 100%;
  max-width: 350px;
  height: 50px;
  padding-right: 100px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav ul li {
  color: #f9b248;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.navi {
  color: #f9b248;
}

.navi:visited {
  color: #f9b248;
}

.navi:hover {
  background-color: #f9b248;
  color: #fc3a52;
}

li a {
  text-decoration: none;
}

.outoftime {
  margin: 40px auto;
  width: 150px;
  height: 150px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.songTitle {
  text-align: center;
  margin-top: -20px;
  font-family: 'Trebuchet MS';
  font-size: 20px;
  font-weight: bolder;
}

.artist {
  text-align: center;
  margin-top: -20px;
  font-family: monospace;
  font-size: 12px;
}

.mplayer {
  width: 300px;
  height: 300px;
  filter: brightness(0) invert(1);
  margin-top: -190px;
  z-index: 1;
}

.bio {
  text-align: center;
  margin: 40px 350px 40px 350px;
  font-size: 14px;
  font-family: monospace;
  font-style: italic;
  color: #e8d5b7;
  list-style-type: none;
  line-height: 18px;
}

.bio.para {
  margin-top: -20px;
}

strong {
  text-decoration: underline;
}

em {
  font-weight: bold;
}

.nme {
  text-align: center;
  font-family: fantasy;
  font-size: 80px;
  color: #fc3a52;
  text-decoration: underline #f9b248;
  text-decoration-thickness: 3px;
  text-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.divider {
  border-bottom: 1px solid #e8d5b7;
  margin: 2px 200px;
}

.spacer {
  margin: 50px 0;
}

body {
  background-color: #0e2431;
  color: #f6f6f6;
  margin: 0;
  padding-top: 50px;
}

#image {
  max-width: 100%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  width: 900px;
}

#img-caption {
  text-align: center;
  margin: 10px;
  color: #f9b248;
  text-decoration: underline #fc3a52;
  text-decoration-thickness: 1px;
}

img {
  display: block;
  margin: 0 auto;
}

.timeline {
  margin: 0 350px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: justify;
}

.date {
  margin-top: 50px;
}

.happening {
  text-indent: 50px;
  margin: 5px;
  color: #e8d5b7;
}

.albumcov {
  width: 200px;
  height: 200px;
}

.albuminfo {
  text-align: center;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #e8d5b7;
  font-size: 16px;
  font-style: italic;
  padding-top: 10px;
}

.website {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #e8d5b7;
  font-size: 16px;
}

.tribute-link:visited {
  color: #e8d5b7;
}

.tribute-link:hover {
  color: #fc3a52;
}

.tribute-link:active {
  color: #f9b248;
}

.tribute-link {
  color: #e8d5b7;
}
